<h1> Edit Trade Show </h1>

<%= form_for(@trade_show, :url => admin_shows_trade_show_path(@trade_show)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Show', admin_shows_trade_show_path( @trade_show ), :class => 'button' %> |
  <%= link_to 'View All', admin_shows_trade_shows_path, :class => 'button' %>
