<h1> New Feature </h1>

<%= form_for(@feature, :url => admin_plans_features_path(@feature)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_plans_features_path, :class => 'button' %>
