<h1> Advertise Here </h1>

<p>Is your company attending a Trade Show?  Are you interested in advertising on <%= site_name %>?  Send us your information and we will get back to you as soon as possible.</p>


<%= form_for(@feedback, :as => :seller_feedback, :url => loop_sell_here_path()) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>