<%
loop_footer_tabs = {
  'Terms & Conditions'  => loop_terms_path,
  'Advertise Here'      => loop_sell_here_path,
  'About'               => loop_about_path,
  'Customer Service'    => faq_loop_customer_service_path
}
%>



<div id="footer_wrapper" class='bp'>
  <div class="container" id="footer">
    <ul id='main-footer-tabs'>
      <% loop_footer_tabs.each_pair do |tab_name, tab_path| %>
        <li> <%= link_to_unless_current tab_name, tab_path %> </li> <%= '|' unless tab_name == 'Customer Service' %>
      <% end %>
    </ul>

    <% if current_user && current_user.allowed_in_admin? %>
      <ul id='main-admin-tabs'>
        <% if current_user.admin? || current_user.role?(:customer_service) %>
          <li> <%= link_to 'Admin' , admin_config_overviews_path %> </li>
        <% end %>
        <% if current_user.admin? || current_user.seller_admin? %>
          <li> <%= link_to 'Seller Info' , seller_admin_overview_path %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>