<label>Trade Show Info</label>
<ul>
  <li><%= link_to trade_show.name, welcome_path(:trade_show => trade_show) %></li>
</ul>


<label>Booths</label>
<ul>
  <% trade_show.booths.each do |booth| %>
      <li><%= link_to booth.name, booth_path(booth) %></li>
  <% end %>
</ul>