<h1>Pick a Trade Show</h1>

<p>
  <ul>
    <% @trade_shows.each do |trade_show| %>
      <li class='<%= cycle("first-column", "second-column", "third-column") -%>'>
        <%= link_to trade_show.name, welcome_path(:trade_show => trade_show.id) %>
        (<%= trade_show.display_start_date %> to <%= trade_show.display_end_date %>)
      </li>
    <% end %>
  </ul>
</p>