<h1> <%= @trade_show.name %> </h1>

<%=raw @trade_show.description %>

<% content_for :sidebar do -%>
  <%= render :partial => '/shared/trade_show_sidebar', :locals => { :trade_show => @trade_show } %>
<% end %>